@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-item + .nav-item {
    margin-left: 40px;
  }

  .contacts-list {
    display: flex;
    justify-content: flex-end;
  }

  .contacts-item + .contacts-item {
    margin-left: 40px;
  }
  .hero {
    margin: 0 auto;
    background: var(--main-color-title);
    text-align: center;
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feature-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .feature-list-icon {
    display: flex;
    visibility: visible;
    width: auto;
    height: auto;
    justify-content: center;
    position: relative;
    gap: 24px;
  }

  .feature-item {
    width: 264px;
    align-items: center;
  }

  .features-title {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-color-title);
    margin-bottom: 8px;
    align-items: center;
  }

  .feature-icon {
    background: var(--main-background-color);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-text {
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
  }
  .about-section {
    padding-bottom: 120px;

    text-align: center;
    display: contents;
  }
  .about-list {
    display: flex;
    justify-content: center;
  }
  .about-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-color-title);
    margin-bottom: 72px;
    text-align: center;
  }
  .about-item + .about-item {
    margin-left: 24px;
  }
  .about-container {
    padding-left: 156px;
    padding-right: 156px;
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }
  .customers-link {
    width: 168px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
  }
  .footer-logo {
    padding-left: 0;
  }
  .footer-subscribe {
    margin-left: 0;
  }
}
